<html>
  <head>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <title>Schmidty Boierplate</title>
  </head>
  <body>
    <p>Hola</p>
    <script src="<%=htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
